<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I'm a Brazilian full-stack developer, with 7 years of experience with C# and Unity game engine, as a hobby and also work. I've got a passion for developing video-games, interactive applications and tools. I also get very excited with new technologies, environments and optimization challenges.
            </p>
            <p class="paragraph-text justify-text">
                I love retro games and enjoy tinkering with homebrew projects, including DIY electronics and 3D printing ones.
            </p>
            <p class="paragraph-text justify-text">
                I've enrolled in a game programming course finished in 2012 at <a href="https://imagineschool.com.br/">Imagine School</a>, and an unfinished Computer Science bachelor's degree started in 2013 at Universidade Federal de Santa Catarina (UFSC).
            </p>
        </div>
    </section>
</div>
