<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Hi, I'm Leonardo Leotte, a Brazilian game developer with eight years of experience working with C# and the Unity game engine. I've pursued game development both as a hobby and a profession. I have a passion for developing video games, interactive applications, and tools. I'm always looking for new technologies, environments, and optimization challenges to keep improving my skills.
            </p>
            <p class="paragraph-text justify-text">
                In my free time, I love tinkering with homebrew projects, especially DIY electronics and 3D printing. I'm also a big fan of retro games and find them to be a great source of inspiration.
            </p>
            <p class="paragraph-text justify-text">
                I enrolled in a game programming course at <a href="https://imagineschool.com.br/">Imagine School</a> in 2012, which provided me with a solid foundation in game development. I also started a Computer Science bachelor's degree at Universidade Federal de Santa Catarina (UFSC) in 2013. Nonetheless, I'm constantly learning and expanding my knowledge in the field.
            </p>
        </div>
    </section>
</div>
