<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            
                <div class="project-technologies">

                    <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">Featured</a>
                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">All</a>
                    <a id="unity" class="semi-transparent-button with-border white-button" onclick="selected('unity')">Unity</a>
                    <a id="games" class="semi-transparent-button with-border white-button" onclick="selected('games')">Games</a>
                    <a id="others" class="semi-transparent-button with-border white-button" onclick="selected('others')">Others</a>

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>